src/App.css
.App {
  text-align: center;
  padding: 50px;
}

nav {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

li:last-child {
  margin-right: 0;
}

h2 {
  margin-top: 50px;
}



.panel-body {
  border: 1px solid #000;
  overflow: auto;
  width: 200px;
  height: 200px;
}

.msg {
  border-bottom: 1px solid #ccc;
}
